.header-box {
  height: 60px;
  align-items: center;
  width: 1200px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100vw;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  background-color: #fff;
  .title-box {
    display: flex;
    align-items: center;
    .title-cont-box {
      display: flex;
      align-items: center;
      padding: 3px 4px 3px 3px;
      background: $text-color;
      color: #fff;
      font-size: 12px;
      font-family: monospace;
      .title-any {
        margin-left: 5px;
      }
      .title-coder {
        margin-left: 5px;
        padding: 2px 5px;
        border-radius: 3px;
        background-color: skyblue;
      }
    }
  }
  .menubox {
    display: flex;

    .menu {
      color: $text-color;

      margin-left: 10px;
    }
  }
}
