.home {
  .pic {
    width: 384px;
    height: 384px;
    margin: 0 auto;
  }
  .banner {
    width: 100%;
    min-height: 450px;
    margin-top: 10px;
    color: #fff;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
